*~
t
tt
ttt
tttt
*bak
web-sites/mysite.org/public/index.html
web-sites/mysite.org/public/meetings.html
web-sites/mysite.org/public/projects.html
web-sites/mysite.org/public/resources.html
web-sites/mysite.org/public/topics.html
src/*
setuid-progs/on-server-copy-httpdconf
setuid-progs/on-server-copy-websites